@model LMS_Project.Models.Course

@{
    ViewData["Title"] = "Details";
}

<h1 style="text-align: center;">Course Details</h1>
<hr />

<div>
    <dl class="row">
        <dt class = "col-sm-4"></dt>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-3">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dd class = "col-sm-2"></dd>

        <dt class = "col-sm-4"></dt>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-3">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dd class = "col-sm-2"></dd>

        <dt class = "col-sm-4"></dt>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-3">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dd class = "col-sm-2"></dd>

        <dt class = "col-sm-4"></dt>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.EnrollmentCount)
        </dt>
        <dd class = "col-sm-3">
            @Html.DisplayFor(model => model.EnrollmentCount)
        </dd>
        <dd class = "col-sm-2"></dd>

        <dt class = "col-sm-4"></dt>
        <dt class = "col-sm-3">
            Uploaded image
        </dt>
        <dd class = "col-sm-3">
            <img src="@("~/image/"+Model.ImageUrl)" asp-append-version="true" width="350px" />
        </dd>
        <dd class = "col-sm-2"></dd>
    </dl>
</div>

<div style="text-align:center; padding:10px; margin-bottom:5px">
    <a style="border:3px solid;padding:10px" asp-action="Edit" asp-route-id="@Model?.CourseId">Edit</a> 
    <a style="border:3px solid;padding:10px" asp-action="Index">Back to List</a>
</div>
