@model LMS_Project.Models.Enrollment

@{
    ViewData["Title"] = "Details";
}

<h1 style="text-align: center;">Course Details</h1>
<hr />

<div>
    <dl class="row">

        <dt class = "col-sm-4"></dt>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.EnrollmentDate)
        </dt>
        <dd class = "col-sm-3">
            @Html.DisplayFor(model => model.EnrollmentDate)
        </dd>
        <dd class = "col-sm-2"></dd>
        
        <dt class = "col-sm-4"></dt>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-3">
            @Html.DisplayFor(model => model.User.UserName)
        </dd>
        <dd class = "col-sm-2"></dd>

        <dt class = "col-sm-4"></dt>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Course)
        </dt>
        <dd class = "col-sm-3">
            @Html.DisplayFor(model => model.Course.Title)
        </dd>
        <dd class = "col-sm-2"></dd>
              
    </dl>
</div>
<div style="text-align:center; padding:10px; margin-bottom:5px">
    <a style="border:3px solid;padding:10px" asp-action="Edit" asp-route-id="@Model?.UniqueId">Edit</a> 
    <a style="border:3px solid;padding:10px" asp-action="Index">Back to List</a>
</div>
