@model LMS_Project.Models.Assignment

@{
    ViewData["Title"] = "Delete";
}

<h1 style="text-align: center;">Delete Assignment</h1>

<h3 style="text-align: center;">Are you sure you want to delete this?</h3>
<hr />

<div>
    <dl class="row">
        <dt class = "col-sm-4"></dt>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-3">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dd class = "col-sm-2"></dd>

        <dt class = "col-sm-4"></dt>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-3">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dd class = "col-sm-2"></dd>
        
        <dt class = "col-sm-4"></dt>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>
        <dd class = "col-sm-3">
            @Html.DisplayFor(model => model.DueDate)
        </dd>
        <dd class = "col-sm-2"></dd>
        
        <dt class = "col-sm-4"></dt>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Course)
        </dt>
        <dd class = "col-sm-3">
            @Html.DisplayFor(model => model.Course.Title)
        </dd>
        <dd class = "col-sm-2"></dd>
    </dl>
    
    <form style="text-align: center; margin-bottom:15px" asp-action="Delete">
        <input type="hidden" asp-for="UniqueId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> 
        <a style="border:3px solid;padding:7px" asp-action="Index">Back to List</a>
    </form>
</div>
