@model IEnumerable<LMS_Project.Models.Assignment>

@{
    ViewData["Title"] = "Index";
}

<div>
    <p style="font-size: 30px; font-weight: 500; margin:25px; text-align: center;">
        Assignment Dashboard
    </p>
</div>

<button style="border-width: 2px; margin-top:10px; margin-bottom:30px; margin-left:20px; ">
    <a asp-action="Create">Create Assignment</a>
</button>
<table class="table" style="margin-left:20px">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course.Title)
            </td>
            <td style="width: 200px">
                <a asp-action="Edit" asp-route-id="@item.UniqueId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UniqueId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UniqueId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
