@model LMS_Project.Models.CourseAssignmentModel
    
	<div class="page-content bg-white">
        <!-- inner page banner -->
        <div class="page-banner ovbl-dark" style="background-image:url(assets/images/banner/banner2.jpg);">
            <div class="container">
                <div class="page-banner-entry">
                    <h1 class="text-white">Courses Details</h1>
				 </div>
            </div>
        </div>
		<!-- Breadcrumb row -->
		<div class="breadcrumb-row">
			<div class="container">
				<ul class="list-inline">
					<li><a href="#">Home</a></li>
					<li>Courses Details</li>
				</ul>
			</div>
		</div>
		<!-- Breadcrumb row END -->
        <!-- inner page banner END -->
		<div class="content-block">
            <!-- About Us -->
			<div class="section-area section-sp1">
                <div class="container">
					 <div class="row d-flex flex-row-reverse">
						<div class="col-lg-3 col-md-4 col-sm-12 m-b30">
							<div class="course-detail-bx">
								<div class="cours-more-info">
									<div class="review">
										<span style="font-size: 13px;">@Model.Course.EnrollmentCount Enrollments</span>
									</div>
									<div class="price categories">
										<span>Categories</span>
										<h5 class="text-primary">@Model.Course.Category</h5>
									</div>
								</div>
								<div class="course-info-list scroll-page">
									<ul class="navbar">
										<li><a class="nav-link" href="#overview"><i class="ti-zip"></i>Overview</a></li>
										<li><a class="nav-link" href="#curriculum"><i class="ti-bookmark-alt"></i>Assignments</a></li>
									</ul>
								</div>
							</div>
						</div>
					
						<div class="col-lg-9 col-md-8 col-sm-12">
							<div class="courses-post">
								<div class="ttr-post-media media-effect">
									<img src="@("~/image/"+Model.Course.ImageUrl)" asp-append-version="true" />
								</div>
								<div class="ttr-post-info">
									<div class="ttr-post-title ">
										<h2 class="post-title">@Model.Course.Title</h2>
									</div>
									<div class="ttr-post-text">
										<p>@Model.Course.Description</p>
									</div>
								</div>
							</div>
							<div class="courese-overview" id="overview">
								<h4>Overview</h4>
								<div class="row">
									<div class="col-md-12 col-lg-4">
										<ul class="course-features">
											<li><i class="ti-book"></i> <span class="label">Assignments</span> <span class="value">@Model.Assignments.Count</span></li>
										</ul>
									<ul class="course-features">
										<li><i class="ti-book"></i> <span class="label">Instructor</span> <span class="value">@Model.Course.Instructor</span></li>
									</ul>
									</div>
									<div class="col-md-12 col-lg-8">
										<h5 class="m-b5">Course Description</h5>
										<p>@Model.Course.Description</p>
										<h5 class="m-b5">Certification</h5>
										<p>@Model.Course.Description</p>
									</div>
								</div>
							</div>
							<div class="m-b30" id="curriculum">
								<h4>Assignments</h4>
								  <div class="progress">
									<div class="progress-bar" role="progressbar" aria-valuenow="@Model.ProgressRatio" aria-valuemin="0" aria-valuemax="100" style="width:@Model.ProgressRatio%">
									</div>
								</div>
								<ul class="curriculum-list">
										@for(int i = 0; i < Model.Assignments.Count; i++){
											if(Model.EnrollmentCount == null){
											<li>
												<h5>@Model.Assignments[i].Title</h5>
												<ul>
													<li>
														<div class="curriculum-list-box">
															<span>@Model.Assignments[i].Description</span> 
														</div>
													</li>
													<li>
														<div style="color: #2F4F4F; font-weight: 500;">
															<span>Date Time: </span><span>@Model.Assignments[i].DueDate</span> 
														</div>
														<button onMouseOver="this.style.backgroundColor='#FFA500';this.style.color='#F0FFFF'" 
														onMouseOut="this.style.backgroundColor='#FFFFFF';this.style.color='#000000'">null</button>
													</li>
												</ul>
											</li>
											}
											else if(i<Model.EnrollmentCount){
											<li>
												<h5>@Model.Assignments[i].Title</h5>
												<ul>
													<li>
														<div class="curriculum-list-box">
															<span>@Model.Assignments[i].Description</span> 
														</div>
													</li>
													<li>
														<div style="color: #2F4F4F; font-weight: 500;">
															<span>Date Time: </span><span>@Model.Assignments[i].DueDate</span> 
														</div>
														<button style="background-color:#90EE90" disabled>Completed</button>
													</li>
												</ul>
											</li>
											}
											else if(Model.EnrollmentCount==i){
												<li>
												<h5>@Model.Assignments[i].Title</h5>
												<ul>
													<li>
														<div class="curriculum-list-box">
															<span>@Model.Assignments[i].Description</span> 
														</div>
													</li>
													<li>
														<div style="color: #2F4F4F; font-weight: 500;">
															<span>Date Time: </span><span>@Model.Assignments[i].DueDate</span> 
														</div>
														<form action="@Url.Action("Index", "CourseDetails")" method="post">
														<input type="hidden" name="courseId" value="@Model.Assignments[i].CourseId" />
														<input type="hidden" name="assId" value="@Model.Assignments[i].UniqueId" />
														<button onMouseOver="this.style.backgroundColor='#FFA500';this.style.color='#F0FFFF'" 
														onMouseOut="this.style.backgroundColor='#FFFFFF';this.style.color='#000000'" type="submit">Confirm</button>
														</form>
													</li>
												</ul>
											</li>
											}else{
												<li>
												<h5>@Model.Assignments[i].Title</h5>
												<ul>
													<li>
														<div class="curriculum-list-box">
															<span>@Model.Assignments[i].Description</span> 
														</div>
													</li>
													<li>
														<div style="color: #2F4F4F; font-weight: 500;">
															<span>Date Time: </span><span>@Model.Assignments[i].DueDate</span> 
														</div>
														<button disabled>Confirm</button>
													</li>
												</ul>
											</li>
											}
											
										}
										

									</ul>
							</div>
                            
							</div>
							
						</div>
						
					</div>
				</div>
            </div>
        </div>
		<!-- contact area END -->
		
    </div>